<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <link rel="icon" href="/images/icon.png">
    <title>Entrar | Study.io</title>
</head>
<header>
    <div>
        <a href="/">
        <button data-text="Awesome" class="buttonBetter">
            <span class="actual-text">&nbsp;study.io&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;study.io&nbsp;</span>
        </button>
        </a>
    </div>
    <nav>
        <div id="navTotal">
            <div class="accesstext">
                AINDA NÃO TEM ACESSO?
            </div>
            <div>
                <a href="/cadastro">
                <button type="button" class="singinButton">Matricule-se</button>
                </a>
            </div>
        </div>
    </nav>
</header>
<body>
    <section class="biglogin">
        <section class="loginsquare">
            <div class="titleflexbox">
             <div class="logintitle">Já estuda com a gente?</div>
             <div class="loginsubtitle">Faça seu login e aproveite!</div>
            </div>
            <div class="formtitle">E-mail</div>
            <div class="formflexbox">
                <div class="formbox">
                    <input type="text" name="email" placeholder="E-mail">
                </div>
            </div>
            <div class="formtitle">Senha</div>
            <div class="formflexbox">
                <div class="formbox">
                    <input type="password" name="senha" placeholder="Senha">
                </div>
            </div>
            <div class="formflexbox">
                <a href="/">
                <button type="button" class="logincomplete">Entrar</button>
                </a>
            </div>
        </section>
        <section class="nologinsquare">
            <div class="nologtext">Ainda não estuda com a gente?</div>
            <div class="nologsub">Confira os nossos tópicos:</div>
            <section class="logoffers">
                <div class="logcard">
                    <img src="/images/camera.png" alt="audiovisual" class="miniicon">
                    <div class="logcardtext">tudoSobre_<br>AUDIOVISUAL</div>
                    <div class="logcardsub">Tudo o que precisa<br>saber de fotografia</div>
                </div>
                <div class="logcard">
                    <img src="/images/dsng-ico.png" alt="audiovisual" class="miniicon">
                    <div class="logcardtext">tudoSobre_<br>DESIGN</div>
                    <div class="logcardsub">Princípios básicos,<br>realismo e mais</div>
                </div>
                <div class="logcard">
                    <img src="/images/computer.png" alt="audiovisual" class="miniicon">
                    <div class="logcardtext">Tudosobre_<br>PROGRAMAÇÃO</div>
                    <div class="logcardsub">Do front ao back,<br>vire full stack</div>
                </div>
            </section>
            <div class="nologsub2">Estamos atualizando frequentemente nosso acervo, para te<br>servir cada vez melhor</div>
        </section>
    </section>
    <section>

    </section>

    <script>
    </script>
</body>
</html>
